<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dev" value="User ID=dev;Password=default;Server=localhost;Port=5432;Database=VKBFreqAPI.Dev;Integrated Security=true;Pooling=true;"></add>
    <add key="prod" value="User ID=prod;Password=default;Server=localhost;Port=5432;Database=VKBFreqAPI.Prod;Integrated Security=true;Pooling=true;"></add>
  </appSettings>
</configuration>